<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Cash-IN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input type="Number" class="form-control" id="amount" aria-describedby="emailHelp" name="amount">
    <button class="btn btn-primary" id="bKash_button" >Submit</button>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js"></script>
<script type="text/javascript">

  let paymentID;
  let createCheckoutUrl = 'https://merchantserver.sandbox.bka.sh/api/checkout/v1.2.0-beta/payment/create';
  let executeCheckoutUrl = 'https://merchantserver.sandbox.bka.sh/api/checkout/v1.2.0-beta/payment/execute';
  $(document).ready(function () {
    initBkash();
  });

  function initBkash() {
    bKash.init({

      paymentMode: 'checkout', // Performs a single checkout.
      paymentRequest: { "amount": "20", "intent": 'sale' , "platform": ""},

      createRequest: (request) => {
        let a =document.getElementById("amount").value;
        request.amount=a;
        console.log(request);
        fetch(createCheckoutUrl, {
          method: 'post',
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(request)
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            if (data && data.paymentID != null) {
              paymentID = data.paymentID;
              bKash.create().onSuccess(data);
            }
            else {
              bKash.create().onError(); // Run clean up code
              alert(data.errorMessage + " Tag should be 2 digit, Length should be 2 digit, Value should be number of character mention in Length, ex. MI041234 , supported tags are MI, MW, RF");
            }
          })
          .catch(error => {
            bKash.create().onError(); // Run clean up code
            alert(data.errorMessage);
          })
      },
      executeRequestOnAuthorization: () => {
        console.log(paymentID)
        fetch(executeCheckoutUrl, {
          method: 'post',
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ "paymentID": paymentID })
        })
          .then(response => response.json())
          .then(data => {
            if (data && data.paymentID != null) {
              // On success, perform your desired action
              alert('[SUCCESS] data : ' + JSON.stringify(data));
              window.location.href = "/success_page.html";

            } else {
              alert('[ERROR] data : ' + JSON.stringify(data));
              bKash.execute().onError();//run clean up code
            }
          })
          .catch(error => {
            alert('An alert has occurred during execute');
            bKash.execute().onError(); // Run clean up code
          })
      },
      onClose: function () {
        alert('User has clicked the close button');
      }
    });

  }
</script>

</html>